.active {
    color:green;
    font-weight: 900;
    text-decoration: underline;
  }

/* hero image */
#hero-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
}